{% extends 'base.html' %}

{% load static %}

{% block content %}

{% for data in datas %}
<div class="job-item p-4 mb-4">
    <div class="row g-4">
        <div class="col-sm-12 col-md-8 d-flex align-items-center">
            <img class="flex-shrink-0 img-fluid border rounded"
                src="{% static 'student/img/com-logo-1.jpg' %}" alt="" style="width: 80px; height: 80px;">
                <a href="{% url 'details' id=data.id %}">
            <div class="text-start ps-4">
                <h5 class="mb-3" style="color: black;">{{ data.job_title }}</h5>
                <span class="text-truncate me-3" style="color: black;"><i
                        class="fa fa-map-marker-alt me-2" style="color: black;"></i>{{ data.job_location }}</span>
                <span class="text-truncate me-3" style="color: black;"><i class="far fa-clock me-2" style="color: black;"></i>{{ data.job_type }}</span>
                <span class="text-truncate me-0" style="color: black;"><i
                        class="far fa-money-bill-alt me-2" style="color: black;"></i>{{ data.job_package }}</span>
            </div>
        </a>
        </div>
        <div
            class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
            <div class="d-flex mb-3">
                <a class="btn btn-light btn-square me-3" href=""><i
                        class="far fa-heart" style="color: black;"></i></a>
                <a class="btn btn-primary" href="{% url 'details' id=data.id %}">Apply Now</a>
            </div>
            <small class="text-truncate" style="color: black;"><i class="far fa-calendar-alt me-2" style="color: black;"></i>Date
                Line: {{ data.job_deadline }}</small>
        </div>
    </div>
</div>
{% endfor %}

{% endblock content %}