{%  extends 'adminbase.html' %}
{% block content %}

        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid dashboard-content">
                <div class="row">
                    <div class="col-xl-10">
                        <!-- ============================================================== -->
                        <!-- pageheader  -->
                        <!-- ============================================================== -->
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="page-header" id="top">
                                    <h2 class="pageheader-title">Edit job Form</h2>
                                    <div class="page-breadcrumb">
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Forms</a></li>
                                                <li class="breadcrumb-item active" aria-current="page">Form Elements</li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end pageheader  -->
                        <!-- ============================================================== -->
                        <div class="page-section" id="overview">
                            <!-- ============================================================== -->
                            <!-- overview  -->
                            <!-- ============================================================== -->
                            
                            <!-- ============================================================== -->
                            <!-- end overview  -->
                            <!-- ============================================================== -->
                        </div>
                        <!-- ============================================================== -->
                        <!-- basic form  -->
                        <!-- ============================================================== -->
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="section-block" id="basicform">
                                    <h3 class="section-title"> Details</h3>
                                    <p>Use custom button styles for actions in forms, dialogs, and more with support for multiple sizes, states, and more.</p>
                                </div>
                                <div class="card">
                                    <h5 class="card-header">Basic Form</h5>
                                    <div class="card-body">
                                        <form method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="col-md-12">
                                                <label for="inputEmail4" class="form-label">username</label>
                                                <input type="text" class="form-control" id="inputEmail4" name="user" value="{{ job.user.username }}" disabled>
                                            </div>
                                            <div class="col-md-12">
                                                <label for="inputPassword4" class="form-label">job title</label>
                                                <input type="text" class="form-control" id="inputPassword4" name="jobtitle" value="{{ job.job_title }}">
                                            </div>
                                            <div class="col-md-12">
                                                <label for="inputAddress" class="form-label">company name</label>
                                                <input type="text" class="form-control" id="inputAddress" placeholder="" name="companyname" value="{{ job.company_name }}">
                                            </div>
                                            <div class="col-md-12">
                                                <label for="inputAddress2" class="form-label">location</label>
                                                <input type="text" class="form-control" id="inputAddress2" placeholder="" name="location" value="{{ job.job_location }}">
                                            </div>
                                            <div class="col-md-12">
                                                <label for="inputState" class="form-label">job-category</label>
                                                <br>
                                                <select id="inputState" class="form-select" name="job-category" value="{{ job.job_category }}">
                                                    <option selected>{{ job.job_category }}</option>
                                                    <option>Design and Creative </option>
                                                    <option>Marketing</option>
                                                    <option>customer Service</option>
                                                    <option>Human Resource</option>
                                                    <option>Project Management</option>
                                                    <option>Business Development</option>
                                                    <option>Sales and Communication</option>
                                                    <option>Teaching and Education</option>
                                                </select>
                                            </div>
                                        
                                            <div class="col-md-12">
                                                <label for="inputState" class="form-label">package</label>
                                                <br>
                                                <select id="inputState" class="form-select" name="package" value="{{ job.job_package }}">
                                                    <option selected>{{ job.job_package }}</option>
                                                    <option>1-2 LPA</option>
                                                    <option>2-3 LPA</option>
                                                    <option>3-5 LPA</option>
                                                    <option>5-10 LPA</option>
                                                    <option>10-15 LPA</option>
                                                    <option>15 LPA AND ABOVE..</option>
                                                </select>
                                            </div>
                                            <div class="col-md-12">
                                                <label for="inputState" class="form-label">job-type</label>
                                                <br>
                                                <select id="inputState" class="form-select" name="job-type" value="{{ job.job_type }}">
                                                    <option selected>{{ job.job_type }}</option>
                                                    <option>part-time</option>
                                                    <option>full-time</option>
                                                </select>
                                            </div>
                                            <div class="col-md-12">
                                                <label for="inputZip" class="form-label">application deadline</label>
                                                <input type="datetime" class="form-control" id="inputZip" name="deadline" placeholder="" value="{{job.job_deadline.year}}-{{job.job_deadline.month}}-{{job.job_deadline.day}}">
                                            </div>
                                            <div class="col-md-12">
                                                <label for="text">job description</label>
                                                <br>
                                                <textarea name="jobdescription" id="text" cols="100" rows="5">{{ job.job_description }}</textarea>
                                        
                                            </div>
                                            <div class="col-12">
                                                <button type="submit" class="btn btn-primary">submit</button>
                                        </form>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
            <!-- ============================================================== -->
            {% endblock content %}