{% extends 'adminbase.html' %}
{% block content %}


<div class="container-xl px-4 mt-4" style="margin-left: 16%;">


<hr class="mt-0 mb-4">
<div class="row">
<div class="col-xl-4">

<div class="card mb-4 mb-xl-0">
<div class="card-header">Profile Picture</div>
<div class="card-body text-center">
<form action="" method="POST"  enctype="multipart/form-data">
    {% csrf_token %}
<img class="img-account-profile rounded-circle mb-2" src="" alt="Upload your new profile Pic">
<div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
<input type="text" name="old" id="" value="{{ profile.ur_pic }}" disabled hidden>
<input type="file" placeholder="Image" name="ur_pic">
</div>
</div>
</div>
<div class="col-xl-8">

<div class="card mb-4">
<div class="card-header">Account Details
    <br>
    <h3 style="color: red;"></h3>
</div>
<div class="card-body">


<div class="mb-3">
<label class="small mb-1" for="Username">Username</label>
<input class="form-control" id="Username" type="text" placeholder="" value="{{ profile.user.username }}" name="username" disabled>
</div>

<div class="row gx-3 mb-3">

<div class="col-md-6">
<label class="small mb-1" for="FirstName">course</label>
<input class="form-control" id="FirstName" type="text" placeholder="" value="{{ profile.ur_course }}" name="course">
</div>

<div class="col-md-6">
<label class="small mb-1" for="LastName">campus</label>
<select name="campus" id="country" class="form-control">
    <option selected>{{profile.ur_campus}}</option>
    <option >Central Campus</option>
    <option >Bannerghatta Campus</option>
    <option >Kengeri Campus</option>
    <option >Delhi Campus</option>
    <option >Lavasa campus</option>
</select>
</div>
</div>

<div class="row gx-3 mb-3">

<div class="col-md-6">
<label class="small mb-1" for="Landmark">Landmark</label>
<input class="form-control" id="Landmark" type="text" placeholder="" value="{{ profile.ur_landmark }}" name="ur_landmark">
</div>

<div class="col-md-6">
<label class="small mb-1" for="Locality">Locality</label>
<input class="form-control" id="Locality" type="text" placeholder="" value="{{ profile.ur_locality }}" name="ur_locality">
</div>
</div>
<div class="row gx-3 mb-3">
<div class="col-md-6">
<label class="small mb-1" for="city">city</label>
<input class="form-control" id="city" type="text" placeholder="" value="{{ profile.ur_city }}" name="ur_city">
</div>

<div class="col-md-6">
<label class="small mb-1" for="state">state</label>
<input class="form-control" id="state" type="text" placeholder="" value="{{ profile.ur_state }}" name="ur_state">
</div>
</div>

<div class="row gx-3 mb-3">
<div class="col-md-6">
<label class="small mb-1" for="country">country</label>
<input class="form-control" id="country" type="text" placeholder="" value="{{ profile.ur_country }}" name="ur_country">
</div>


<div class="col-md-6">
<label class="small mb-1" for="pin">pin</label>
<input class="form-control" id="pin" type="number" placeholder="" value="{{ profile.ur_pin }}" name="ur_pin">
</div>
</div>




<div class="row gx-3 mb-3">
<!-- <div class="col-md-6">
<label class="small mb-1" for="Email">Email address</label>
<input class="form-control" id="Email" type="email" placeholder="" value="" name="Email">
</div> -->



<div class="col-md-6">
<label class="small mb-1" for="Phone">Phone number</label>
<input class="form-control" id="Phone" type="tel" placeholder="" value="{{ profile.ur_phone }}" name="ur_phone">
</div>



<!-- <div class="row gx-3 mb-3"> -->
<div class="col-md-6">
<label class="small mb-1" for="Birthday">Birthday</label>
<input class="form-control" id="Birthday" type="text" name="ur_DOB" placeholder="" value="{{ profile.ur_DOB.year }}-{{ profile.ur_DOB.month }}-{{ profile.ur_DOB.day }}">
</div>
</div>

<div class="mb-3">
<label class="small mb-1" for="bio">bio</label>
<textarea name="ur_bio" id="" cols="30" rows="10" class="form-control">{{ profile.ur_bio }}</textarea>
</div>
<!-- </div> -->

<button class="btn btn-primary" type="submit">Save changes</button>
</form>
</div>
</div>
</div>
</div>
</div>

{% endblock content %}